@font-face {
  font-family: 'DM Sans-Regular', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('DMSans-Regular.woff2'),
  url('../fonts/DMSans-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'DM Sans-Medium', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local('DMSans-Medium.woff2'),
  url('../fonts/DMSans-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'DM Sans-Bold', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local('DMSans-Bold.woff2'),
  url('../fonts/DMSans-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'DPoppins-Bold', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local('Poppins-Bold.woff2'),
  url('../fonts/Poppins-Bold.woff2') format('woff2');
}