html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.main {
  flex-grow: 1;
}
.container-main {
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
}
.container-second {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.title {
  @extend %DMSans-700;
  font-size: 36px;
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 40px;
  @media (max-width: 550px) {
    font-size: 22px;
  }
}


