%DMSans-400 {
  font-family: 'DMSans-Regular';
  font-weight: 400;
  font-style: normal;
}
%DMSans-500 {
  font-family: 'DMSans-Medium';
  font-weight: 500;
  font-style: normal;
}
%DMSans-700 {
  font-family: 'DMSans-Bold';
  font-weight: 700;
  font-style: normal;
}
%Rubik-300 {
  font-family: 'Rubik-Light';
  font-weight: 300;
  font-style: normal;
}
%Rubik-400 {
  font-family: 'Rubik-Regular';
  font-weight: 400;
  font-style: normal;
}
%Rubik-500 {
  font-family: 'Rubik-Medium';
  font-weight: 500;
  font-style: normal;
}
%Poppins-700 {
  font-family: 'Poppins-Bold';
  font-weight: 700;
  font-style: normal;
}
$grey: #7b7b7b;
$text: #415965;

%checkbox-hidden {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
}




@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
 @function min($numbers...) {
  @return m#{i}n(#{$numbers});
}

