%DMSans-400 {
  font-family: 'DM Sans-Regular';
  font-weight: 400;
  font-style: normal;
}
%DMSans-500 {
  font-family: 'DM Sans-Medium';
  font-weight: 500;
  font-style: normal;
}
%DMSans-700 {
  font-family: 'DM Sans-Bold';
  font-weight: 700;
  font-style: normal;
}