@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';
@import 'media';

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
.logo__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
    &-brand {
    font-family: Rubik;
    font-weight: 500;
    font-size: 36px;
    line-height: 58px;
    color: #436372;
    }
    &-pic {
      padding-right: 14px;
    }
}
.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
    &-item + .menu__list-item {
      margin-left: 34px;
    }
}
.menu__list-item__link {
  font-family: Rubik;
  font-weight: 500;
  line-height: 12px;
  color: #506d7b;
}
.user-nav {
  display: flex;
  justify-content: space-between;
}
.search {
  padding: 17px 18px;
  background-color: #edf1f4;
  border-radius: 50%;
}
.buy {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  margin: 0 21px;
  border-radius: 25px;
  background-color: rgb(252, 215, 182);
}
.slash {
  padding: 10px 27px;
}
.heart, .cart {
  padding: 22px 0 13px 0;
}
.header__button {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: #a3bbc8;
  cursor: pointer;
}
.button {
  padding: 14px;
}
.user-nav__link {
  position: relative;
}
.user-num {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  @extend %DMSans-400;
  font-size: 10px;
  line-height: 16px;
  color: #243f4d;
  text-align: center;
  top: 12px;
  left: 9px;
}


footer {
  background-color: #fff;
}
.logo__link-footer {
  display: flex;
  margin-top: -25px;
  padding-bottom: 19px;
}
.footer-top {
  display: flex;
  border-bottom: 1px solid #dae4e9;
  padding: 75px 0;
  &__contact {
    width: 200px;
    margin-right: 100px;
  }
  &__adress,
  &__tel,
  &__email {
    display: block;
  }
  a,
  p {
    @extend %Rubik-400;
    font-size: 14px;
    line-height: 32px;
    color: #7b7b7b;
  }
  &__services {
    width: 170px;
    margin-right: 130px;
  }
  &__account {
    width: 100px;
    margin-right: auto;
  }
  &__title {
    margin-bottom: 30px;
    @extend %DMSans-700;
    font-size: 16px;
    line-height: 21px;
    color: #1f2044;
  }
  .footer-top__text {
    width: 235px;
    line-height: 24px;
    margin-bottom: 35px;
  }
  &__input{
    width: 100%;
    width: 170px;
    padding: 14px 5px 14px 10px;
    background-color: #fef7f0;
    border: none;
    @extend %DMSans-400;
    font-size: 12px;
    line-height: auto;
    &::placeholder {
      color: #234969;
    }
  }
  &__btn {
    border: none;
    padding: 10px 18px 11px;
    @extend %DMSans-400;
    font-size: 14px;
    line-height: 21px;
    background-color: #a3bbc8;
    color: #fff;
    margin-left: -4px;
    cursor: pointer;
  }
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  // align-items: center;
  padding: 35px 0 40px;
  @extend %Rubik-400;
  font-size: 14px;
  line-height: 14px;
  color: #7b7b7b;
  &__list {
    display: flex;
  }
  &__item + .footer-bottom__item {
    padding: 0 15px;
    border-left: 1px solid #7b7b7b; ;
  }
  &__item:first-child {
    padding-right: 15px;
  }
  &__item:last-child {
    padding-right: 0;
  }
  a {
    color: #7b7b7b;
  }
}

 .top-slider {
      background-color: #fcd7b6;
      max-width: 1770px;
    &__item {
      display: flex !important;
      padding: 220px 300px 280px;
    }
    &__title {
      @extend %Rubik-500;
      font-size: 72px;
      line-height: 70px;
      color: #243f4d;
      margin-bottom: 45px;
    }
    &__text {
      max-width: 358px;
      @extend %Rubik-400;
      font-size: 18px;
      line-height: 30px;
      color: #243f4d;
      margin-bottom: 45px;  
    }
    &__link {
      padding: 25px 20px 25px 30px;
      background-color: #a3bbc8;
      @extend %Rubik-500;
      color: #fff;
      font-size: 15px;
      line-height: 12px;
      display: inline-flex;
      &__text {
        margin-right: 60px;
      }
    }
    &__img {
      max-height: 263px;
      align-self: flex-end;
    }
    &__content {
      position: relative;
    }
    .top-slider__content::after {
      content: "";
      position: absolute;
      top: -100px;
      left: 700px;
      width: 609px;
      height: 634px;
      background-image: url("../images/top-slider/bg.png");
    }
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 45px;
    li + li {
      padding-left: 12px;
    }
    li.slick-active button {
        border: none;
        border-radius: 50%;
        width: 30px;
        height: 29px;
        @extend %Rubik-400;
        font-size: 12px;
        line-height: 15px;
        color: #667983;
        background-color: #fff;
    }
    button {
        border: none;
        background-color: #fde3cc;
        border-radius: 50%;
        width: 30px;
        height: 29px;
        @extend %Rubik-400;
        font-size: 12px;
        line-height: 15px;
        color: #667983;
      }
  }


  .service {
    &__inner {
      background-color: #fef7f0;
      display: flex;
      justify-content: space-between;
    }
    &__item:first-child {
      padding: 25px 145px 25px 220px;
    }
    &__item + .service__item {
      padding: 25px 155px 25px 240px;
      border-left: 1px solid #e8e4df;
    }
    &__title {
      @extend %DMSans-700;
      font-size: 18px;
      line-height: 40px;
      color: #414141;
    }
    &__text {
      @extend %DMSans-400;
      font-size: 16px;
      line-height: 30px;
      color: #585858;
      min-width: 220px;
      text-align: left;
    }
  }
  .support {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 49px;
      height: 49px;
      top: 37px;
      left: 145px;
      background-image: url("../images/top-slider/24.svg");
    }
  }
  .delivery {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 49px;
      height: 49px;
      top: 37px;
      left: 160px;
      background-image: url("../images/top-slider/car.svg");
      background-repeat: no-repeat;
    }
  }
  .security {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 49px;
      height: 49px;
      top: 37px;
      left: 160px;
      background-image: url("../images/top-slider/card.svg");
      background-repeat: no-repeat;
    }
  }
  

  
  




  

  





 






