@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';
@import 'media';

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
.logo__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
    &-brand {
    font-family: Rubik;
    font-weight: 500;
    font-size: 36px;
    line-height: 58px;
    color: #436372;
    }
    &-pic {
      padding-right: 14px;
    }
}
.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
    &-item + .menu__list-item {
      margin-left: 34px;
    }
}
.menu__list-item__link {
  font-family: Rubik;
  font-weight: 500;
  line-height: 12px;
  color: #506d7b;
}
.user-nav {
  display: flex;
  justify-content: space-between;
}
.search {
  padding: 17px 18px;
  background-color: #edf1f4;
  border-radius: 50%;
}
.buy {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  margin: 0 21px;
  border-radius: 25px;
  background-color: rgb(252, 215, 182);
}
.slash {
  padding: 10px 27px;
}
.heart, .cart {
  padding: 22px 0 13px 0;
}
.header__button {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: #a3bbc8;
  cursor: pointer;
}
.button {
  padding: 14px;
}
.user-nav__link {
  position: relative;
}
.user-num {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  @extend %DMSans-400;
  font-size: 10px;
  line-height: 16px;
  color: #243f4d;
  text-align: center;
  top: 12px;
  left: 9px;
}


footer {
  background-color: #fff;
}
.logo__link-footer {
  display: flex;
  margin-top: -25px;
  padding-bottom: 19px;
}
.footer-top {
  display: flex;
  border-bottom: 1px solid #dae4e9;
  padding: 75px 0;
  &__contact {
    width: 200px;
    margin-right: 100px;
  }
  &__adress,
  &__tel,
  &__email {
    display: block;
  }
  a,
  p {
    @extend %Rubik-400;
    font-size: 14px;
    line-height: 32px;
    color: #7b7b7b;
  }
  &__services {
    width: 170px;
    margin-right: 130px;
  }
  &__account {
    width: 100px;
    margin-right: auto;
  }
  &__title {
    margin-bottom: 30px;
    @extend %DMSans-700;
    font-size: 16px;
    line-height: 21px;
    color: #1f2044;
  }
  .footer-top__text {
    width: 235px;
    line-height: 24px;
    margin-bottom: 35px;
  }
  &__input{
    width: 100%;
    width: 170px;
    padding: 14px 5px 14px 10px;
    background-color: #fef7f0;
    border: none;
    @extend %DMSans-400;
    font-size: 12px;
    line-height: auto;
    &::placeholder {
      color: #234969;
    }
  }
  &__btn {
    border: none;
    padding: 10px 18px 11px;
    @extend %DMSans-400;
    font-size: 14px;
    line-height: 21px;
    background-color: #a3bbc8;
    color: #fff;
    margin-left: -4px;
    cursor: pointer;
  }
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  // align-items: center;
  padding: 35px 0 40px;
  @extend %Rubik-400;
  font-size: 14px;
  line-height: 14px;
  color: #7b7b7b;
  &__list {
    display: flex;
  }
  &__item + .footer-bottom__item {
    padding: 0 15px;
    border-left: 1px solid #7b7b7b; ;
  }
  &__item:first-child {
    padding-right: 15px;
  }
  &__item:last-child {
    padding-right: 0;
  }
  a {
    color: #7b7b7b;
  }
}

 .top-slider {
      background-color: #fcd7b6;
      max-width: 1770px;
    &__item {
      display: flex !important;
      padding: 220px 300px 280px;
    }
    &__title {
      @extend %Rubik-500;
      font-size: 72px;
      line-height: 70px;
      color: #243f4d;
      margin-bottom: 45px;
    }
    &__text {
      max-width: 358px;
      @extend %Rubik-400;
      font-size: 18px;
      line-height: 30px;
      color: #243f4d;
      margin-bottom: 45px;  
    }
    &__link {
      padding: 25px 20px 25px 30px;
      background-color: #a3bbc8;
      @extend %Rubik-500;
      color: #fff;
      font-size: 15px;
      line-height: 12px;
      display: inline-flex;
      &__text {
        margin-right: 60px;
      }
    }
    &__img {
      max-height: 263px;
      align-self: flex-end;
    }
    &__content {
      position: relative;
      z-index: 2;
    }
    .top-slider__content::after {
      content: "";
      position: absolute;
      top: -100px;
      left: 700px;
      width: 609px;
      height: 634px;
      background-image: url("../images/top-slider/bg.png");
      z-index: -1;
    }
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 45px;
    li + li {
      padding-left: 12px;
    }
    li.slick-active button {
        border: none;
        border-radius: 50%;
        width: 30px;
        height: 29px;
        @extend %Rubik-400;
        font-size: 12px;
        line-height: 15px;
        color: #667983;
        background-color: #fff;
    }
    button {
        border: none;
        background-color: #fde3cc;
        border-radius: 50%;
        width: 30px;
        height: 29px;
        @extend %Rubik-400;
        font-size: 12px;
        line-height: 15px;
        color: #667983;
      }
  }


  .service {
    &__inner {
      background-color: #fef7f0;
      display: flex;
      justify-content: space-between;
    }
    &__item:first-child {
      padding: 25px 145px 25px 220px;
    }
    &__item + .service__item {
      padding: 25px 155px 25px 240px;
      border-left: 1px solid #e8e4df;
    }
    &__title {
      @extend %DMSans-700;
      font-size: 18px;
      line-height: 40px;
      color: #414141;
    }
    &__text {
      @extend %DMSans-400;
      font-size: 16px;
      line-height: 30px;
      color: #585858;
      min-width: 220px;
      text-align: left;
    }
  }
  .support {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 49px;
      height: 49px;
      top: 37px;
      left: 145px;
      background-image: url("../images/top-slider/24.svg");
    }
  }
  .delivery {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 49px;
      height: 49px;
      top: 37px;
      left: 160px;
      background-image: url("../images/top-slider/car.svg");
      background-repeat: no-repeat;
    }
  }
  .security {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 49px;
      height: 49px;
      top: 37px;
      left: 160px;
      background-image: url("../images/top-slider/card.svg");
      background-repeat: no-repeat;
    }
  }
  
.design {
  padding-top: 105px;
  padding-bottom: 120px;
  &__buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
  }
  &__item-btn + .design__item-btn {
    margin-left: 30px;
  }
  &__item-btn {
    border: none;
    background-color: transparent;
    color: #8b8b8b;
    @extend %DMSans-700;
    font-size: 16px;
    cursor: pointer;
    &:active {
      outline: transparent;
    }
  }
}
.design-gallery {
  display: grid;
  min-height: 530px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 35px;
  &__item {
    padding-top: 40px;
    padding-left: 35px;
    position: relative;
  }
  &__title {
    @extend %DMSans-700;
    font-size: 20px;
    color: #1a1a1a;
    max-width: 175px;
    margin-bottom: 15px;
  }
  &__subtitle {
    @extend %DMSans-700;
    font-size: 16px;
    color: #a3bbc8;
  }
  &__link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}
.mixitup-control-active {
  color: #1a1a1a;
  outline: transparent;
}

  
.products {
  padding-top: 75px;
  &__buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
  }
  &__item-btn + .products__item-btn {
    margin-left: 30px;
  }
  &__item-btn {
    border: none;
    background-color: transparent;
    color: #8b8b8b;
    @extend %DMSans-700;
    font-size: 16px;
    cursor: pointer;
    &:active {
      outline: transparent;
    }
  }
}
.products-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px 30px;
  margin-bottom: 185px;
}
.products-item {
  background-repeat: no-repeat;
  background-position: 50% 25%;
  padding-bottom: 40px;
  position: relative;
  width: 270px;
  // width: 100%;
  height: 380px;
  background-color: grey;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  overflow: hidden;
  &:hover {
    .products-item__link-box {
      transform: translateY(0);
      position: absolute;
      bottom: 100px;
      left: 65px;
    }
  }
  &__title {
    @extend %DMSans-500;
    font-size: 16px;
    color: #415965;
    margin-top: 300px;
    margin-bottom: 15px;
  }
  &__price {
    @extend %DMSans-700;
    font-size: 16px;
    color: #a3bbc8;
  }
  &__link-box {
    display: flex;
    justify-content: center;
    transform: translateY(300%);
    transition: all 0.4s;
  }
  &__link {
    padding: 12px;
    background-color: #fff;
    border-radius: 50%;
    &:hover {
      background-color: #a3bbc8;
      path {
        fill: #fff;
      }
    }
    &--center {
      margin: 0 15px;
    }
    &--right {
      padding-top: 15px;
    }
  }
}


.others {
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__box {
    padding-left: 135px;
    
    max-width: 870px;
    width: 100%;
    height: 390px;
    background-color: #feefe2;
    display: flex;
  }
  &__img {
    position: relative;
    bottom: 85px;
    margin-right: 60px;
    object-fit: cover;
  }
  &__info {
    padding: 100px 0 95px;
  }
  &__title {
    @extend %DMSans-700;
    font-size: 26px;
    line-height: 32px;
    color: #243f4d;
    margin-bottom: 30px;
  }
  &__text {
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: #334b57;
    margin-bottom: 35px;
  }
  &__btn {
    padding: 25px 20px 25px 20px;
    background-color: #feefe2;
    @extend %Rubik-500;
    font-size: 15px;
    line-height: 12px;
    display: inline-flex;
    border: 1px solid #b7bab8;
    border-radius: 5px;
    &__text {
      margin-right: 45px;
      color: #436372;
    }
  }
}


.video {
  &__inner {
    height: 500px;
    width: 100%;
    background-image: url('../images/video/video-bg.jpg');
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
  }
}


.articles {
  padding-bottom: 90px;
  background-image: url("../images/articles/bg.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 105%;
  &__top-title {
    display: flex;  
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
  }
  &__title {
    @extend %DMSans-700;
    font-size: 36px;
    color: #1a1a1a;
  }
  &__top-link {
    cursor: pointer;
  }
  &__text {
    @extend %DMSans-700;
    font-size: 16px;
    color: #262626;
    margin-right: 25px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 7px;
      height: 12px;
      background-image: url('../images/articles/shape-icon.png');
      top: 5px;
      right: -25px;
    }
  }
  &__items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-bottom: 90px;
  }
  &__item {
    min-height: 420px;
    padding-left: 30px;
    padding-top: 230px;
    background-repeat: no-repeat;
    background-color: #fff;
    border-radius: 5px;
  }
  &__item-link {
    display: inline-block;
    @extend %Poppins-700;
    color: #fff;
    background-color: #a3bbc8;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 30px;
    border-radius: 25px;
    margin-bottom: 23px;
  }
  &__item-text {
    height: 70px;
    max-width: 284px;
    @extend %DMSans-500;
    font-size: 18px;
    margin-bottom: 40px;
  }
  &__date {
    display: flex;
    @extend %Rubik-400;
    font-size: 12px;
    line-height: 30px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: -20px;
      width: 315px;
      height: 1px;
      background-color: #e0e0e0;
    }
  }
  &__time {
    margin-left: 16px;
    margin-right: 43px;
    display: inline-block;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 12px;
      height: 13px;
      background-image: url("../images/articles/user.png");
      left: -16px;
      top: 8px;
    }
  }
  &__admin {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 12px;
      height: 13px;
      background-image: url("../images/articles/user.png");
      left: -16px;
      top: 8px;
    }
  }
}
.partners__inner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.top {
  background-color: #edf1f4;
  padding: 35px 0;
  text-align: center;
  &__title {
    margin-bottom: 10px;
    @extend %Rubik-300;
    font-size: 36px;
    line-height: 24px;
    color: #222933;
  }
}
.breadcrumbs {
  &__list {
    display: inline-flex;
  }
  &__item {
    padding-right: 20px;
    @extend %Rubik-400;
    font-size: 14px;
    line-height: 24px;
    color: #94999f;
    position: relative;
    &::after {
      content: "/";
      position: absolute;
      right: 5px;
    }
    &:last-child {
      &::after {
        display: none;
      }
    }
  }
  &__link {
    color: #94999f;
  }
}

.modal {
  padding: 120px 0;
  &__form {
    max-width: 470px;
    margin: 0 auto;
  }
  &__label {
    display: block;
    @extend %Rubik-400;
    color: #436372;
  }
  &__input {
    display: block;
    height: 55px;
    width: 100%;
    padding: 0 15px;
    margin-top: 10px;
    margin-bottom: 25px;
    border: 2px solid #f6f6f6;
  }
  &__login-btn {
    margin-top: 10px;
    width: 100%;
    padding: 16px 0;
    border: none;
    background-color: #a3bbc8;
    color: #fffefe;
    @extend %Rubik-500;
    font-size: 18px;
    margin-bottom: 30px;
    cursor: pointer;
  }
  &__checkbox {
    @extend %Rubik-400;
    color: #436372;
    margin-bottom: 60px;
  }
  &__checkbox-input {
    margin: 0;
    display: none;
  }
  &__fake {
    display: inline-block;
    position: relative;
    width: 14px;
    height: 14px;
    background-color: #ebebeb;
    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 10px;
      height: 10px;
      top: -3px;
      left: 50%;
      background-image: url("../images/icons/check.svg");
      opacity: 0;
      transform: translate(-50%, 50%);
    }
  }
  .modal__checkbox-input:checked + .modal__fake::before {
    opacity: 1;
  }
  &__checkbox-link {
    display: inline-block;
    margin-left: 187px;
    @extend %Rubik-400;
    color: #436372;
  }
  &__error {
    display: block;
    text-align: center;
    margin-bottom: 25px;
    @extend %Rubik-400;
    color: #436372;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: -30px;
      width: 470px;
      height: 2px;
      background-color: #f6f6f6;
    }
  }
  &__login-create {
    display: block;
    width: 100%;
    padding: 16px 0;
    background-color: transparent;
    border: 2px solid #a3bbc8;
    @extend %Rubik-500;
    font-size: 18px;
    color: #243f4d;
    cursor: pointer;
  }
}
.partners__login {
  background-color: #fef7f0;
}
.partners__inner-login {
  display: flex;
  margin: 0 auto;
  max-width: 1040px;
  height: 250px;
  justify-content: space-between;
  align-items: center;
}

.terms {
  padding: 110px 0 40px;
  &__title {
    margin-bottom: 25px;
    @extend %Rubik-400;
    font-size: 24px;
    line-height: 40px;
    color: #243f4d;
  }
  &__list {
    margin-bottom: 45px;
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: #243f4d;
    margin-left: 30px;
    list-style-type: decimal-leading-zero;
  }
  &__item {
    margin-bottom: 30px;
  }
  &__text {
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: #243f4d;
    margin-bottom: 70px;
  }
}
  


.mission {
  padding: 120px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__bg {
    margin-right: 50px;
    object-fit: cover;
  }
  &__content {
    max-width: 545px;
    padding: 80px 0;
  }
  &__content-inner {
    display: flex;
    max-width: 265px;
    align-items: center;
    margin-bottom: 50px;
  }
  &__number {
    margin-right: 30px;
  }
  &__text {
    @extend %Rubik-400;
    font-size: 16px;
    color: $text;
    align-self: flex-end;
  }
  &__text-info {
    display: block;
    padding-top: 15px;
  }
  &__title {
    margin-bottom: 50px;
    @extend %DMSans-700;
    font-size: 36px;
    color: #243f4d;
  }
  &__desc {
    max-width: 553px;
    width: 100%;
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: $text;
    margin-bottom: 100px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 500px;
      height: 2px;
      background-color: #e6eaf0;
      left: 0;
      bottom: -65px;
    }
  }
  &__decor-list {
    display: flex;
    justify-content: space-around;
    margin-left: 5px;
  }
  &__decor-item {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: -55px;
      top: 10px;
      width: 37px;
      height: 37px;
      background-image: url("../images/about/page.svg");
    }
  }
  &__decor-item--first {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: -5px;
      right: -20px;
      width: 1px;
      height: 80px;
      background-color: #e6eaf0;
    }
  }
  &__decor-item--second {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: -5px;
      right: -20px;
      width: 1px;
      height: 80px;
      background-color: #e6eaf0;
    }
    &::before {
      background-image: url("../images/about/speaker.svg");
    }
  }
  &__decor-item--third {
    &::before {
      background-image: url("../images/about/medal.svg");
    }
  }
  &__decor-numbers {
    display: block;
    @extend %DMSans-700;
    font-size: 36px;
    line-height: 38px;
    color: #243f4d;
  }
  &__decor-text {
    @extend %DMSans-700;
    font-size: 16px;
    line-height: 17px;
    color: #4c4c4c;
  }
}


.widgets {
  background-color: #fcd7b6;
  padding: 80px 0;
  height: 320px;
  margin-bottom: 120px;
  &__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__item {
    text-align: center;
    max-width: 200px;
  }
  &__img {
    padding-bottom: 25px;
    margin: 0 auto;
  }
  &__img--second {
    margin-bottom: 10px;
  }
  &__numbers {
    display: block;
    @extend %DMSans-700;
    font-size: 36px;
    line-height: 38px;
    color: #243f4d;
  }
  &__text {
    @extend %DMSans-700;
    font-size: 18px;
    line-height: 38px;
    color: #243f4d;
    text-align: left;
  }
}


 
.team {
  padding-bottom: 120px;
  &__inner {
    display: flex;
  }
  &__info {
    max-width: 300px;
    margin-right: 100px;
  }
  &__title {
    @extend %DMSans-700;
    font-size: 36px;
    line-height: 32px;
    color: #243f4d;
    padding-bottom: 35px;
  }
  &__text {
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: $text;
    width: 310px;
    padding-bottom: 35px;
  }
  &__link {
    background-color: #a3bbc8;
    padding: 17px 25px 17px 15px;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
  }
  &__link-text {
    margin-right: 20px;
    @extend %Poppins-700;
    color: #fff;
  }
  &__foto {
    min-height: 740px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
  }
  &__foto-box {
    display: flex;
    max-width: 325px;
    padding: 25px 20px;
    background-color: #fff;
    position: relative;
    bottom: 55px;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
  }
  &__foto-name {
    padding-right: 55px;
  }
  &__foto-title {
    display: block;
    min-width: 145px;
    margin-bottom: 10px;
    @extend %DMSans-700;
    font-size: 22px;
    line-height: 26px;
    color: #436372;
  }
  &__foto-desc {
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: #78798e;
  }
  &__foto-links {
    display: flex;
    align-items: center;
  }
  &__foto-link {
    display: inline-block;
    margin-right: 5px;
  }
}


.shop-list {
  padding: 120px 0;
  &__inner {
    display: flex;
    margin-bottom: 100px;
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  &__content {
    width: 100%;
  }
  &__star {
    display: none;
  }
  &__item {
    margin-right: 20px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    width: 270px;
    height: 380px;
    background-repeat: no-repeat;
    background-position: top 35px center;
    text-align: center;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    &:hover {
      .shop-list__item-box {
        position: absolute;
        transform: translateY(0);
        bottom: 150px;
        left: 25%;
      }
    }
  }
  &__image-box {
    height: 300px;
    padding-top: 35px;
    img {
      margin: 0 auto;
      object-fit: cover;
    }
  }
  &__img--list {
    display: none;
  }
  &__item-link {
    padding: 13px 10px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 15px;
    &:hover {
      background-color: #a3bbc8;
      path {
        fill: #fff;
      }
    }
  }
  &__item-title {
    @extend %DMSans-500;
    font-size: 16px;
    color: #243f4d;
    // line-height: 40px;
  }
  &__item-price {
    color: #a3bbc8;
    @extend %DMSans-700;
    font-size: 16px;
    line-height: 60px;
  }
  &__item-price--list {
    display: none;
  }
  &__filter-buttons {
    margin-bottom: 40px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    span {
      @extend %DMSans-500;
      font-size: 16px;
      color: #29282d;
      padding-right: 15px;
    }
  }
  &__filter-btn {
    border: none;
    padding: 0;
    margin-right: 15px;
    background-color: transparent;
    line-height: 2px;
    cursor: pointer;
    &.shop-list__filter-btn--active {
      path {
        fill: #fe3e57;
      }
    }
  }
  &__filters {
    margin-right: 30px;
    width: 270px;
  }
}
.filter__item {
  width: 270px;
}
.filter__title {
  display: inline-block;
  text-transform: uppercase;
  @extend %DMSans-700;
  font-size: 18px;
  color: #243f4d;
  margin-bottom: 25px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 39px;
    height: 2px;
    background-color: #a3bbc8;
    right: -56px;
    top: 10px;
  }
}
.filter-category {
  margin-bottom: 60px;
  &__label {
    cursor: pointer;
    display: block;
  }
  &__input {
    @extend %checkbox-hidden;
    &:checked + .filter-category__checkbox {
      background-color: #edf1f4;
      border-radius: 5px;
    }
  }
  &__checkbox {
    height: 40px;
    padding: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @extend %Rubik-400;
    font-size: 16px;
    color: #243f4d;
  }
}

.filter-price {
  margin-bottom: 80px;
  &__text {
    @extend %Rubik-400;
    font-size: 14px;
    color: #334c59;
    padding-right: 7px;
  }
  &__text {
    display: flex;
    justify-content: space-between;
  }
  &__from,
  &__to {
    &::before {
      content: "$";
    }
  }
}
.irs--flat .irs-line {
    top: 5px;
    height: 2px;
    background-color: #c2d2db;
    border-radius: 3px;
}    
.irs--flat .irs-bar {
    top: 5px;
    height: 3px;
    background-color: #a3bbc8;
}
.irs--flat .irs-handle {
    top: -1px;
    width: 15px;
    height: 15px;
    background-color: rgb(163, 187, 200);
}
.irs--flat .irs-handle>i:first-child {
  display: none;
}
.irs--flat .irs-min, .irs--flat .irs-max {
  display: none;
}
.irs--flat .irs-from {
  display: none;
}
.irs--flat .irs-to {
  display: none;
}

.filter-brand {
  margin-bottom: 60px;
  &__label {
    cursor: pointer;
  }
  &__input {
    @extend %checkbox-hidden;
    &:checked + .filter-brand__checkbox {
      background-color: #edf1f4;
      .filter-brand__number {
        color: #314b58;
      }
    }
  }
  &__checkbox {
    border-radius: 5px;
    height: 40px;
    padding: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @extend %Rubik-400;
    font-size: 16px;
    color: #314b58;
  }
  &__number {
    color: #b3b3b3;
  }
}


.star {
  margin-bottom: 10px;
}
.jq-ry-container {
  padding: 0;
}
.filter-recent {
  &__input {
    @extend %checkbox-hidden;
  }
  &__checkbox {
    display: flex;
  }
  &__label {
    display: block;
    margin-bottom: 20px;
  }
  &__desc {
    padding: 5px 0;
  }
  &__img {
    margin-right: 20px;
    object-fit: cover;
  }
  &__title {
    color: #333333;
    @extend %Rubik-400;
    font-size: 14px;
    margin-bottom: 10px;
  }
  &__price {
    color: #333333;
    @extend %Rubik-400;
    font-size: 15px;
  }
}


.shop-list__item.shop-list__item--list {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  // padding-left: 20px;
  height: 500px;
  box-shadow: none;
  .shop-list__descr-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 90px;
  }
  .shop-list__item-box {
    display: none;
  }
  .shop-list__img {
    display: none;
  }
  .shop-list__img--list {
    display: block;
  }
  .shop-list__image-box {
    border: 2px solid #f2f2f2;
    margin-right: 55px;
    height: 500px;
    width: 370px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .shop-list__star {
    display: block;
    margin-bottom: 20px;
  }
  .shop-list__item-title {
    @extend %Rubik-400;
    font-size: 40px;
    line-height: 26px;
    margin-bottom: 25px;
  }
  .shop-list__item-price {
    display: none;
  }
  .shop-list__item-price--list {
    display: block;
    @extend %Rubik-400;
    font-size: 30px;
    line-height: 45px;
    color: #333;
    margin-bottom: 35px;
  }
  .shop-list__item-text {
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: #334c59;
    max-width: 403px;
    text-align: left;
    margin-bottom: 35px;
  }
  .shop-list__btn {
    border: none;
    background-color: #a3bbc8;
    text-transform: uppercase;
    color: #fff;
    @extend %Rubik-400;
    font-size: 15px;
    padding: 15px 50px;
    border-radius: 5px;
  }
}

.shop-list__partners {
  background-color: #fef7f0;
  padding: 80px 0;
}

.pagination {
  max-width: 290px;
  margin: 0 auto;
  height: 270px;
  &__list {
    display: flex;
  }
  &__item {
    @extend %Rubik-400;
    font-size: 16px;
    margin-right: 15px;
  }
  &__link {
    color: #243f4d;
    padding: 20px;
    border: 1px solid #a3bbc8;
  }
  &__link--active {
    color: #fff;
    background-color: #a3bbc8;
  }
}
.pagination--list {
  margin-left: 300px;
}

.pagination--grid {
  max-width: 290px;
  margin: 0 auto;
}

