.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
.logo__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
    &-brand {
    font-family: Rubik;
    font-weight: 500;
    font-size: 36px;
    line-height: 58px;
    color: #436372;
    }
    &-pic {
      padding-right: 14px;
    }
}
.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
    &-item + .menu__list-item {
      margin-left: 34px;
    }
}
.menu__list-item__link {
  font-family: Rubik;
  font-weight: 500;
  line-height: 12px;
  color: #506d7b;
}
.user-nav {
  display: flex;
  justify-content: space-between;
}
.search {
  padding: 17px 18px;
  background-color: #edf1f4;
  border-radius: 50%;
}
.buy {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  margin: 0 21px;
  border-radius: 25px;
  background-color: rgb(252, 215, 182);
}
.slash {
  padding: 10px 27px;
}
.heart, .cart {
  padding: 22px 0 13px 0;
}
.header__button {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: #a3bbc8;
  cursor: pointer;
}
.button {
  padding: 14px;
}
.user-nav__link {
  position: relative;
}
.user-num {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  @extend %DMSans-400;
  font-size: 10px;
  line-height: 16px;
  color: #243f4d;
  text-align: center;
  top: 12px;
  left: 9px;
}