.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
.logo__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
    &-brand {
    font-family: Rubik;
    font-weight: 500;
    font-size: 36px;
    line-height: 58px;
    color: #436372;
    }
    &-pic {
      padding-right: 14px;
    }
}
.menu__btn {
    cursor: pointer;
    width: 49px;
    height: 49px;
    border: none;
    border-radius: 50px;
    background-color: #a3bbc8;
    padding: 14px;
    background-image: url('../images/header/button.svg');
    background-repeat: no-repeat;
    background-position: center center;
    display: none;
}
.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
    &-item + .menu__list-item {
      margin-left: 34px;
    }
}
.menu__list-item__link {
  font-family: Rubik;
  font-weight: 500;
  line-height: 12px;
  color: #506d7b;
}
.user-nav {
  display: flex;
  justify-content: space-between;
}
.search {
  padding: 17px 18px;
  background-color: #edf1f4;
  border-radius: 50%;
}
.buy {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  margin: 0 21px;
  border-radius: 25px;
  background-color: rgb(252, 215, 182);
}
.slash {
  padding: 10px 27px;
}
.heart, .cart {
  padding: 22px 0 13px 0;
}
.header__button {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: #a3bbc8;
  cursor: pointer;
}
.button {
  padding: 14px;
}
.user-nav__link {
  position: relative;
}
.user-num {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  @extend %DMSans-400;
  font-size: 10px;
  line-height: 16px;
  color: #243f4d;
  text-align: center;
  top: 12px;
  left: 9px;
}

@media (max-width: 1056px) {
  .header {
    &__inner {
      flex-wrap: wrap;
      height: auto;
    }
  }
  .logo {
    padding-right: 10px;
  }
  ul.menu__list:last-child {
    padding-bottom: 0;
  }
  .menu {
    order: 1;
    &__list {
      transform: translateX(-200%);
      position: absolute;
      top: 200px;
      width: 100%;
      left: 0;
      flex-direction: column;
      align-items: center;
      z-index: 5;
      transition: all 0.3s;
      &.menu__list--active {
        transform: translateY(0%);
        transition: all 0.3s;
      }
    }
    &__list-item {
      width: 100%;
      text-align: center;
      padding: 0 15px;
    }
    &__list-item + .menu__list-item {
      margin-left: 0;
    }
    &__list-item__link {
      display: block;
      width: 100%;
      padding-bottom: 15px;
      margin-bottom: 15px;
      transition: all 0.3s;
      &:hover {
        border-bottom: 1px solid #506d7b;
        color: #a3bbc8;
      }
    }
    &__btn {
      display: block;
    }
  }
  .user-nav {
    margin-left: auto;
  }
  .header__button {
  display: none;
  }
}

@media (max-width: 550px) {
  .menu {
    order: 0;
  }
  .user-nav {
    width: 100%;
    justify-content: flex-end;
    margin-top: 20px;
  }
  .buy {
    margin-right: 0;
  }
}