<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/about.min.css">
  <title>Glee.</title>
</head>
<body>

  {% include 'app/module/_header/_header.html' %}
  <main class="main">

   {% include 'app/module/_top/_top.html' %}
    
    <section class="mission">
      <div class="container-second">
        <div class="mission__inner">
          <img class="mission__bg" src="images/about/mission-bg.jpg" alt="#">
          <div class="mission__content">
            <div class="mission__content-inner">
              <img class="mission__number" src="images/about/12.svg" alt="12">
              <div class="mission__text">
                <span class="mission__text-info">
                  Years
                </span>
                <span class="mission__text-info">
                  Experience
                </span>
                <span class="mission__text-info">
                  Working
                </span>
              </div>
            </div>
            <h2 class="mission__title">
              Mission of our creative house
            </h2>
            <p class="mission__desc">
              consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
              veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum
            </p>
            <ul class="mission__decor-list">
              <li class="mission__decor-item mission__decor-item--first">
                <span class="mission__decor-numbers">
                  520+
                </span>
                <span class="mission__decor-text">
                  Projects
                </span>
              </li>
              <li class="mission__decor-item mission__decor-item--second">
                <span class="mission__decor-numbers">
                  $4M
                </span>
                <span class="mission__decor-text">
                  Revenue
                </span>
              </li>
              <li class="mission__decor-item mission__decor-item--third">
                <span class="mission__decor-numbers">
                  250
                </span>
                <span class="mission__decor-text">
                  Awards
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="widgets">
      <div class="container-second">
        <div class="widgets__inner">

          <div class="widgets__item">
            <img class="widgets__img" src="images/about/widget-1.svg" alt="#">
            <span class="widgets__numbers">99%</span>
            <span class="widgets__text">Satisﬁed Clients Rate</span>
          </div>
          <div class="widgets__item">
            <img class="widgets__img widgets__img--second" src="images/about/widget-2.svg" alt="#">
            <span class="widgets__numbers">5020+</span>
            <span class="widgets__text">Products Delivered</span>
          </div>
          <div class="widgets__item">
            <img class="widgets__img" src="images/about/widget-3.svg" alt="#">
            <span class="widgets__numbers">23hr</span>
            <span class="widgets__text">Daily Working Time</span>
          </div>
          <div class="widgets__item">
            <img class="widgets__img" src="images/about/widget-4.svg" alt="#">
            <span class="widgets__numbers">140+</span>
            <span class="widgets__text">Brands in Store</span>
          </div>
        </div>
      </div>
    </section>
    <section class="team">
      <div class="container-second">
        <div class="team__inner">
          <div class="team__info">
            <h2 class="team__title">
              Our Team
            </h2>
            <p class="team__text">
              Lorem ipsum dolor sit amet, conse ctetur adipi sicing elit, sed do eiusmod tempor inciLorem ipsum dolor sit amet,
              consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
              veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <a class="team__link" href="#">
              <span class="team__link-text">Join With US</span>
              <img class="team__link-arrow" src="images/about/arrow.svg" alt="arrow">
            </a>
          </div>
          <div class="team__foto">
            <div class="team__foto-item">
              <img class="team__foto-img" src="images/about/foto-1.jpg" alt="#">
              <div class="team__foto-box">
                <div class="team__foto-name">
                  <span class="team__foto-title">Eliza Elliot</span>
                  <span class="team__foto-desc">Commodo tempor</span>
                </div>
                <div class="team__foto-links">
                  <a class="team__foto-link" href="#">
                    <img src="images/about/inst.svg" alt="instagram" class="team__foto-social">
                  </a>
                  <a class="team__foto-link" href="#">
                    <img src="images/about/google.svg" alt="instagram" class="team__foto-social">
                  </a>
                </div>
              </div>
            </div>
            <div class="team__foto-item">
              <img class="team__foto-img" src="images/about/foto-2.jpg" alt="#">
              <div class="team__foto-box">
                <div class="team__foto-name">
                  <span class="team__foto-title">Roscoe A.</span>
                  <span class="team__foto-desc">Commodo tempor</span>
                </div>
                <div class="team__foto-links">
                  <a class="team__foto-link" href="#">
                    <img src="images/about/inst.svg" alt="instagram" class="team__foto-social">
                  </a>
                  <a class="team__foto-link" href="#">
                    <img src="images/about/google.svg" alt="instagram" class="team__foto-social">
                  </a>
                </div>
              </div>
            </div>
            <div class="team__foto-item">
              <img class="team__foto-img" src="images/about/foto-3.jpg" alt="#">
              <div class="team__foto-box">
                <div class="team__foto-name">
                  <span class="team__foto-title">Ruby M.</span>
                  <span class="team__foto-desc">Commodo tempor</span>
                </div>
                <div class="team__foto-links">
                  <a class="team__foto-link" href="#">
                    <img src="images/about/inst.svg" alt="instagram" class="team__foto-social">
                  </a>
                  <a class="team__foto-link" href="#">
                    <img src="images/about/google.svg" alt="instagram" class="team__foto-social">
                  </a>
                </div>
              </div>
            </div>
            <div class="team__foto-item">
              <img class="team__foto-img" src="images/about/foto-4.jpg" alt="#">
              <div class="team__foto-box">
                <div class="team__foto-name">
                  <span class="team__foto-title">Marie F. Bloss</span>
                  <span class="team__foto-desc">Commodo tempor</span>
                </div>
                <div class="team__foto-links">
                  <a class="team__foto-link" href="#">
                    <img src="images/about/inst.svg" alt="instagram" class="team__foto-social">
                  </a>
                  <a class="team__foto-link" href="#">
                    <img src="images/about/google.svg" alt="instagram" class="team__foto-social">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="articles">
      <div class="container-second">
        <div class="articles__top-title">
          <h2 class="articles__title">
            Our Insights & Articles
          </h2>
          <a href="#" class="articles__top-link">
            <p class="articles__text">
              View All
            </p>
          </a>
        </div>
    
        <div class="articles__items">
          <div class="articles__item" style="background-image: url(../app/images/articles/1.png);">
            <a class="articles__item-link" href="#">
              NEWS
            </a>
            <p class="articles__item-text">
              Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
            </p>
            <div class="articles__date">
              <time class="articles__time" datetime="2020-01-28">
                28 JANUARY, 2020
              </time>
              <span class="articles__admin">BY ADMIN</span>
            </div>
          </div>
    
          <div class="articles__item" style="background-image: url(../app/images/articles/2.png);">
            <a class="articles__item-link" href="#">
              NEWS
            </a>
            <p class="articles__item-text">
              Aonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            </p>
            <div class="articles__date">
              <time class="articles__time" datetime="2020-01-28">
                28 JANUARY, 2020
              </time>
              <span class="articles__admin">BY ADMIN</span>
            </div>
          </div>
    
          <div class="articles__item" style="background-image: url(../app/images/articles/3.png);">
            <a class="articles__item-link" href="#">
              NEWS
            </a>
            <p class="articles__item-text">
              Rncididunt ut labore et dolore magna aliqua. Ut enim
            </p>
            <div class="articles__date">
              <time class="articles__time" datetime="2020-01-28">
                28 JANUARY, 2020
              </time>
              <span class="articles__admin">BY ADMIN</span>
            </div>
          </div>
        </div>
        <div class="partners__inner">
          <img class="partners__img" src="images/articles/partners/1.png" alt="partner">
          <img class="partners__img" src="images/articles/partners/2.png" alt="partner">
          <img class="partners__img" src="images/articles/partners/3.png" alt="partner">
          <img class="partners__img" src="images/articles/partners/4.png" alt="partner">
          <img class="partners__img" src="images/articles/partners/5.png" alt="partner">
        </div>
      </div>
    </section>

  </main>
  {% include 'app/module/_footer/_footer.html' %}

 
  



  <script src="js/main.min.js"></script>
</body>
</html>