<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/contact.min.css">
  <title>Glee.</title>
</head>
<body>

  {% include 'app/module/_header/_header.html' %}
  <main class="main">

    {% include 'app/module/_top/_top.html' %}

    <section class="contact">
      <div class="container-second">
        <p class="contact__subtitle">Write Here</p>
        <h2 class="contact__title">Get In Touch</h2>
        <div class="contact__details">
          <div class="contact__details-inner">
            <div class="contact__details-item">
              <p class="contact__details-item__title">Adress</p>
              <span>2416 Mapleview Drive</span>
              <span>Tampa, FL 33634</span>
            </div>
            <div class="contact__details-item contact__details-item--email">
              <p class="contact__details-item__title">Our Email</p>
              <span>Main Email : contact@website.com</span>
              <span>Inquiries : Info@mail.com</span>
            </div>
            <div class="contact__details-item contact__details-item--phone">
              <p class="contact__details-item__title">Our Phone</p>
              <span>Office Telephone : 0029129102320</span>
              <span>Mobile : 000 2324 39493</span>
            </div>
          </div>
        </div>
        <div class="contact__form-map">
          <div class="contact__form">
            <input class="contact__form-input" type="text" placeholder="NAME">
            <input class="contact__form-input contact__form-input--email" type="text" placeholder="EMAIL">
            <textarea class="contact__form-textarea" placeholder="MESSAGE"></textarea>
            <button class="contact__form-btn" type="submit">SEND MESSAGE</button>
          </div>
          <div id="map"></div>
        </div>
      </div>
    </section>

    <section class="articles">
      <div class="container-second">
        <div class="articles__top-title">
          <h2 class="articles__title">
            Our Insights & Articles
          </h2>
          <a href="#" class="articles__top-link">
            <p class="articles__text">
              View All
            </p>
          </a>
        </div>
    
        <div class="articles__items">
          <div class="articles__item" style="background-image: url(../app/images/articles/1.png);">
            <a class="articles__item-link" href="#">
              NEWS
            </a>
            <p class="articles__item-text">
              Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
            </p>
            <div class="articles__date">
              <time class="articles__time" datetime="2020-01-28">
                28 JANUARY, 2020
              </time>
              <span class="articles__admin">BY ADMIN</span>
            </div>
          </div>
    
          <div class="articles__item" style="background-image: url(../app/images/articles/2.png);">
            <a class="articles__item-link" href="#">
              NEWS
            </a>
            <p class="articles__item-text">
              Aonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            </p>
            <div class="articles__date">
              <time class="articles__time" datetime="2020-01-28">
                28 JANUARY, 2020
              </time>
              <span class="articles__admin">BY ADMIN</span>
            </div>
          </div>
    
          <div class="articles__item" style="background-image: url(../app/images/articles/3.png);">
            <a class="articles__item-link" href="#">
              NEWS
            </a>
            <p class="articles__item-text">
              Rncididunt ut labore et dolore magna aliqua. Ut enim
            </p>
            <div class="articles__date">
              <time class="articles__time" datetime="2020-01-28">
                28 JANUARY, 2020
              </time>
              <span class="articles__admin">BY ADMIN</span>
            </div>
          </div>
        </div>
        <div class="partners__inner">
          <img class="partners__img" src="images/articles/partners/1.png" alt="partner">
          <img class="partners__img" src="images/articles/partners/2.png" alt="partner">
          <img class="partners__img" src="images/articles/partners/3.png" alt="partner">
          <img class="partners__img" src="images/articles/partners/4.png" alt="partner">
          <img class="partners__img" src="images/articles/partners/5.png" alt="partner">
        </div>
      </div>
    </section>
    
  </main>
  {% include 'app/module/_footer/_footer.html' %}

 
  


  <script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap&libraries=&v=weekly"
    async>
  </script>

  <script>
    let map;

      function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
          center: { lat: 29.772, lng: -95.283 },
          zoom: 9,
          styles:
          [
              {
                "elementType": "geometry",
                "stylers": [
                  {
                    "hue": "#ff4400"
                  },
                  {
                    "saturation": -68
                  },
                  {
                    "lightness": -4
                  },
                  {
                    "gamma": 0.72
                  }
                ]
              },
              {
                "featureType": "road",
                "elementType": "labels.icon"
              },
              {
                "featureType": "landscape.man_made",
                "elementType": "geometry",
                "stylers": [
                  {
                    "hue": "#0077ff"
                  },
                  {
                    "gamma": 3.1
                  }
                ]
              },
              {
                "featureType": "water",
                "stylers": [
                  {
                    "hue": "#00ccff"
                  },
                  {
                    "gamma": 0.44
                  },
                  {
                    "saturation": -33
                  }
                ]
              },
              {
                "featureType": "poi.park",
                "stylers": [
                  {
                    "hue": "#44ff00"
                  },
                  {
                    "saturation": -23
                  }
                ]
              },
              {
                "featureType": "water",
                "elementType": "labels.text.fill",
                "stylers": [
                  {
                    "hue": "#007fff"
                  },
                  {
                    "gamma": 0.77
                  },
                  {
                    "saturation": 65
                  },
                  {
                    "lightness": 99
                  }
                ]
              },
              {
                "featureType": "water",
                "elementType": "labels.text.stroke",
                "stylers": [
                  {
                    "gamma": 0.11
                  },
                  {
                    "weight": 5.6
                  },
                  {
                    "saturation": 99
                  },
                  {
                    "hue": "#0091ff"
                  },
                  {
                    "lightness": -86
                  }
                ]
              },
              {
                "featureType": "transit.line",
                "elementType": "geometry",
                "stylers": [
                  {
                    "lightness": -48
                  },
                  {
                    "hue": "#ff5e00"
                  },
                  {
                    "gamma": 1.2
                  },
                  {
                    "saturation": -23
                  }
                ]
              },
              {
                "featureType": "transit",
                "elementType": "labels.text.stroke",
                "stylers": [
                  {
                    "saturation": -64
                  },
                  {
                    "hue": "#ff9100"
                  },
                  {
                    "lightness": 16
                  },
                  {
                    "gamma": 0.47
                  },
                  {
                    "weight": 2.7
                  }
                ]
              }
            ]
        });

          const svgMarker = {
          path: "M28.167,4.926 C25.050,1.751 20.907,0.003 16.499,0.003 C12.092,0.003 7.949,1.751 4.832,4.926 C-0.935,10.800 -1.651,21.852 3.280,28.549 L16.499,47.995 L29.699,28.575 C34.651,21.852 33.934,10.800 28.167,4.926 ZM16.652,22.791 C13.331,22.791 10.629,20.038 10.629,16.656 C10.629,13.273 13.331,10.520 16.652,10.520 C19.972,10.520 22.675,13.273 22.675,16.656 C22.675,20.038 19.972,22.791 16.652,22.791 Z", 
          fillColor: "#436372",
          fillOpacity: 1,
          strokeWeight: 0,
          rotation: 0,
          scale: 1,
          anchor: new google.maps.Point(5, 30),
        };
        new google.maps.Marker({
          position: map.getCenter(),
          icon: svgMarker,
          map: map,
        });

      }
  </script>
  

  <script src="js/main.min.js"></script>
</body>
</html>



<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="33px" height="48px">
  <path fill-rule="evenodd" fill="rgb(67, 99, 114)"
    d="M28.167,4.926 C25.050,1.751 20.907,0.003 16.499,0.003 C12.092,0.003 7.949,1.751 4.832,4.926 C-0.935,10.800 -1.651,21.852 3.280,28.549 L16.499,47.995 L29.699,28.575 C34.651,21.852 33.934,10.800 28.167,4.926 ZM16.652,22.791 C13.331,22.791 10.629,20.038 10.629,16.656 C10.629,13.273 13.331,10.520 16.652,10.520 C19.972,10.520 22.675,13.273 22.675,16.656 C22.675,20.038 19.972,22.791 16.652,22.791 Z" />
</svg>
