<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/index.min.css">
  <title>Glee.</title>
</head>
<body>

 {% include 'app/module/_header/_header.html' %}

  <main class="main">   
    {# {% include 'app/module/_top-slider/_top-slider.html' %}  #}

    {# {% include 'app/module/_service/_service.html' %} #}
    
    {# {% include 'app/module/_products/_products.html' %} #}

    {# {% include 'app/module/_others/_others.html' %} #}
    
    {# {% include 'app/module/_design/_design.html' %} #}
    
    {# {% include 'app/module/_video/_video.html' %} #}

    {# {% include 'app/module/_articles/_articles.html' %} #}

  </main>

  {# {% include 'app/module/_footer/_footer.html' %} #}

 
  



  <script src="js/main.min.js"></script>
</body>
</html>