  .service {
    width: 100%;
    &__inner {
      max-width: 100%;
      background-color: #fef7f0;
      background-position: center center;
      display: flex;
      justify-content: space-between;
      // flex-wrap: wrap;
    }
    &__item .support {
      max-width: 570px;
    }
    &__item:first-child {
      max-width: 590px;
      padding: 25px 145px 25px 220px;
      max-width: 570px;
    }
    &__item + .service__item {
      padding: 25px 155px 25px 240px;
      border-left: 1px solid #e8e4df;
    }
    &__title {
      @extend %DMSans-700;
      font-size: 18px;
      line-height: 40px;
      color: #414141;
    }
    &__text {
      @extend %DMSans-400;
      font-size: 16px;
      line-height: 30px;
      color: #585858;
      min-width: 220px;
      text-align: left;
    }
  }
  .support {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 49px;
      height: 49px;
      top: 37px;
      left: 145px;
      background-image: url("../images/top-slider/24.svg");
    }
  }
  .delivery {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 49px;
      height: 49px;
      top: 37px;
      left: 160px;
      background-image: url("../images/top-slider/car.svg");
      background-repeat: no-repeat;
    }
  }
  .security {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 49px;
      height: 49px;
      top: 37px;
      left: 160px;
      background-image: url("../images/top-slider/card.svg");
      background-repeat: no-repeat;
    }
  }

  @media (max-width: 1770px) {
    .service {
      &__inner {
        flex-wrap: wrap;
        justify-content: center;
      }
      &__item {
        // border: 1px solid #e8e4df;
      }
      &__item:first-child {
        // margin-right: auto;
        padding: 0;
        width: 100%;
        max-width: 570px;
      }
      &__item +.service__item {
        padding: 0;
        border-left: none;
      }
      &__text {
        text-align: center;
      }
    }
    .support {
      max-width: 570px;
      width: 100%;
      text-align: center;
      &::before {
        display: none;
      }
    }
    .delivery {
      max-width: 570px;
      width: 100%;
      text-align: center;
      &::before {
        display: none;
      }
    }
    .security {
      max-width: 570px;
      width: 100%;
      text-align: center;
      &::before {
        display: none;
      }
    }
  }

  @media (max-width: 1230px) {
    .service {
      &__inner {
        flex-direction: column;
      }
      &__item {
        width: 100%;
        border: 1px solid #e8e4df;
      }
    }
    .service__item:first-child {
      max-width: 100%;
    }
    .delivery {
      max-width: 100%;
    }
    .security {
      max-width: 100%;
    }
  }

  @media (max-width: 500px) {
    .service {
      &__title {
        font-size: 16px;
      }
    }
  }